{
  "openapi": "3.1.0",
  "info": {
    "title": "Monkeytype API",
    "description": "Documentation for the endpoints provided by the Monkeytype API server.\n\nNote that authentication is performed with the Authorization HTTP header in the format `Authorization: ApeKey YOUR_APE_KEY`\n\nThere is a rate limit of `30 requests per minute` across all endpoints with some endpoints being more strict. Rate limit rates are shared across all ape keys.",
    "version": "2.4.0",
    "termsOfService": "https://monkeytype.com/terms-of-service",
    "contact": {
      "name": "Support",
      "email": "support@monkeytype.com"
    },
    "x-logo": {
      "url": "https://monkeytype.com/images/mtfulllogo.png"
    },
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.monkeytype.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "User account data.",
      "x-displayName": "Users",
      "x-public": "yes"
    },
    {
      "name": "results",
      "description": "User test results",
      "x-displayName": "Test results",
      "x-public": "yes"
    },
    {
      "name": "public",
      "description": "Public endpoints such as typing stats.",
      "x-displayName": "Public",
      "x-public": "yes"
    },
    {
      "name": "leaderboards",
      "description": "All-time and daily leaderboards of the fastest typers.",
      "x-displayName": "Leaderboards"
    },
    {
      "name": "psas",
      "description": "Public service announcements.",
      "x-displayName": "PSAs",
      "x-public": "yes"
    },
    {
      "name": "quotes",
      "description": "Quote ratings and new quote submissions",
      "x-displayName": "Quotes",
      "x-public": "yes"
    },
    {
      "name": "configuration",
      "description": "Server configuration",
      "x-displayName": "Server configuration",
      "x-public": "yes"
    },
    {
      "name": "webhooks",
      "description": "Endpoints for incoming webhooks.",
      "x-displayName": "Webhooks",
      "x-public": "yes"
    }
  ],
  "paths": {
    "/psas": {
      "get": {
        "description": "Get list of public service announcements.\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get psas",
        "tags": [
          "psas"
        ],
        "parameters": [],
        "operationId": "psas.get",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9_]+$"
                          },
                          "message": {
                            "type": "string"
                          },
                          "date": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "level": {
                            "type": "integer"
                          },
                          "sticky": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "_id",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "470": {
            "description": "Invalid ApeKey",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Invalid ApeKey"
                }
              }
            }
          },
          "471": {
            "description": "ApeKey is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is inactive"
                }
              }
            }
          },
          "472": {
            "description": "ApeKey is malformed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is malformed"
                }
              }
            }
          },
          "479": {
            "description": "ApeKey rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/public/speedHistogram": {
      "get": {
        "description": "get number of users personal bests grouped by wpm level (multiples of ten).\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get speed histogram",
        "tags": [
          "public"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "english",
                    "english_1k",
                    "english_5k",
                    "english_10k",
                    "english_25k",
                    "english_450k",
                    "english_commonly_misspelled",
                    "english_contractions",
                    "english_doubleletter",
                    "english_shakespearean",
                    "english_old",
                    "english_medical",
                    "spanish",
                    "spanish_1k",
                    "spanish_10k",
                    "spanish_650k",
                    "french",
                    "french_1k",
                    "french_2k",
                    "french_10k",
                    "french_600k",
                    "french_bitoduc",
                    "nepali",
                    "nepali_1k",
                    "nepali_romanized",
                    "sanskrit",
                    "sanskrit_roman",
                    "santali",
                    "azerbaijani",
                    "azerbaijani_1k",
                    "arabic",
                    "arabic_10k",
                    "arabic_egypt",
                    "arabic_egypt_1k",
                    "arabic_morocco",
                    "malagasy",
                    "malagasy_1k",
                    "malay",
                    "malay_1k",
                    "mongolian",
                    "mongolian_10k",
                    "kannada",
                    "korean",
                    "korean_1k",
                    "korean_5k",
                    "khmer",
                    "chinese_simplified",
                    "chinese_simplified_1k",
                    "chinese_simplified_5k",
                    "chinese_simplified_10k",
                    "chinese_simplified_50k",
                    "chinese_traditional",
                    "chinese_traditional_1k",
                    "chinese_traditional_5k",
                    "chinese_traditional_10k",
                    "chinese_traditional_50k",
                    "russian",
                    "russian_1k",
                    "russian_5k",
                    "russian_10k",
                    "russian_25k",
                    "russian_50k",
                    "russian_375k",
                    "russian_contractions",
                    "russian_contractions_1k",
                    "russian_abbreviations",
                    "ukrainian",
                    "ukrainian_1k",
                    "ukrainian_10k",
                    "ukrainian_50k",
                    "ukrainian_endings",
                    "ukrainian_latynka",
                    "ukrainian_latynka_1k",
                    "ukrainian_latynka_10k",
                    "ukrainian_latynka_50k",
                    "ukrainian_latynka_endings",
                    "portuguese",
                    "portuguese_acentos_e_cedilha",
                    "portuguese_1k",
                    "portuguese_3k",
                    "portuguese_5k",
                    "portuguese_320k",
                    "portuguese_550k",
                    "indonesian",
                    "indonesian_1k",
                    "indonesian_10k",
                    "kurdish_central",
                    "kurdish_central_2k",
                    "kurdish_central_4k",
                    "german",
                    "german_1k",
                    "german_10k",
                    "german_250k",
                    "swiss_german",
                    "swiss_german_1k",
                    "swiss_german_2k",
                    "afrikaans",
                    "afrikaans_1k",
                    "afrikaans_10k",
                    "georgian",
                    "tamil",
                    "tamil_1k",
                    "tanglish",
                    "tamil_old",
                    "telugu",
                    "telugu_1k",
                    "greek",
                    "greek_1k",
                    "greek_5k",
                    "greek_10k",
                    "greek_25k",
                    "greek_koine",
                    "greeklish",
                    "greeklish_1k",
                    "greeklish_5k",
                    "greeklish_10k",
                    "greeklish_25k",
                    "turkish",
                    "turkish_1k",
                    "turkish_5k",
                    "irish",
                    "irish_1k",
                    "italian",
                    "italian_1k",
                    "italian_7k",
                    "italian_60k",
                    "italian_280k",
                    "friulian",
                    "latin",
                    "galician",
                    "thai",
                    "thai_1k",
                    "thai_5k",
                    "thai_10k",
                    "thai_20k",
                    "thai_50k",
                    "thai_60k",
                    "polish",
                    "polish_2k",
                    "polish_5k",
                    "polish_10k",
                    "polish_20k",
                    "polish_40k",
                    "polish_200k",
                    "czech",
                    "czech_1k",
                    "czech_10k",
                    "slovak",
                    "slovak_1k",
                    "slovak_10k",
                    "slovenian",
                    "slovenian_1k",
                    "slovenian_5k",
                    "croatian",
                    "croatian_1k",
                    "dutch",
                    "dutch_1k",
                    "dutch_10k",
                    "filipino",
                    "filipino_1k",
                    "danish",
                    "danish_1k",
                    "danish_10k",
                    "hungarian",
                    "hungarian_1k",
                    "hungarian_2k",
                    "norwegian_bokmal",
                    "norwegian_bokmal_1k",
                    "norwegian_bokmal_5k",
                    "norwegian_bokmal_10k",
                    "norwegian_bokmal_150k",
                    "norwegian_bokmal_600k",
                    "norwegian_nynorsk",
                    "norwegian_nynorsk_1k",
                    "norwegian_nynorsk_5k",
                    "norwegian_nynorsk_10k",
                    "norwegian_nynorsk_100k",
                    "norwegian_nynorsk_400k",
                    "hebrew",
                    "hebrew_1k",
                    "hebrew_5k",
                    "hebrew_10k",
                    "icelandic",
                    "icelandic_1k",
                    "romanian",
                    "romanian_1k",
                    "romanian_5k",
                    "romanian_10k",
                    "romanian_25k",
                    "romanian_50k",
                    "romanian_100k",
                    "romanian_200k",
                    "lorem_ipsum",
                    "finnish",
                    "finnish_1k",
                    "finnish_10k",
                    "estonian",
                    "estonian_1k",
                    "estonian_5k",
                    "estonian_10k",
                    "udmurt",
                    "welsh",
                    "welsh_1k",
                    "persian",
                    "persian_1k",
                    "persian_5k",
                    "persian_20k",
                    "persian_romanized",
                    "marathi",
                    "kazakh",
                    "kazakh_1k",
                    "vietnamese",
                    "vietnamese_1k",
                    "vietnamese_5k",
                    "jyutping",
                    "pinyin",
                    "pinyin_1k",
                    "pinyin_10k",
                    "hausa",
                    "hausa_1k",
                    "bemba",
                    "bemba_1k",
                    "bemba_10k",
                    "swedish",
                    "swedish_1k",
                    "swedish_diacritics",
                    "serbian_latin",
                    "serbian_latin_10k",
                    "serbian",
                    "serbian_10k",
                    "yoruba_1k",
                    "swahili_1k",
                    "maori_1k",
                    "catalan",
                    "catalan_1k",
                    "lojban_gismu",
                    "lojban_cmavo",
                    "lithuanian",
                    "lithuanian_1k",
                    "lithuanian_3k",
                    "bulgarian",
                    "bulgarian_1k",
                    "bulgarian_latin",
                    "bulgarian_latin_1k",
                    "bangla",
                    "bangla_letters",
                    "bangla_10k",
                    "bosnian",
                    "bosnian_4k",
                    "toki_pona",
                    "toki_pona_ku_suli",
                    "toki_pona_ku_lili",
                    "esperanto",
                    "esperanto_1k",
                    "esperanto_10k",
                    "esperanto_25k",
                    "esperanto_36k",
                    "esperanto_x_sistemo",
                    "esperanto_x_sistemo_1k",
                    "esperanto_x_sistemo_10k",
                    "esperanto_x_sistemo_25k",
                    "esperanto_x_sistemo_36k",
                    "esperanto_h_sistemo",
                    "esperanto_h_sistemo_1k",
                    "esperanto_h_sistemo_10k",
                    "esperanto_h_sistemo_25k",
                    "esperanto_h_sistemo_36k",
                    "kyrgyz",
                    "kyrgyz_1k",
                    "urdu",
                    "urdu_1k",
                    "urdu_5k",
                    "urdu_roman",
                    "urdish",
                    "albanian",
                    "albanian_1k",
                    "shona",
                    "shona_1k",
                    "armenian",
                    "armenian_1k",
                    "armenian_western",
                    "armenian_western_1k",
                    "myanmar_burmese",
                    "japanese_hiragana",
                    "japanese_katakana",
                    "japanese_romaji",
                    "japanese_romaji_1k",
                    "sinhala",
                    "latvian",
                    "latvian_1k",
                    "maltese",
                    "maltese_1k",
                    "twitch_emotes",
                    "git",
                    "pig_latin",
                    "hindi",
                    "hindi_1k",
                    "hinglish",
                    "gujarati",
                    "gujarati_1k",
                    "macedonian",
                    "macedonian_1k",
                    "macedonian_10k",
                    "macedonian_75k",
                    "belarusian",
                    "belarusian_1k",
                    "belarusian_5k",
                    "belarusian_10k",
                    "belarusian_25k",
                    "belarusian_50k",
                    "belarusian_100k",
                    "belarusian_lacinka",
                    "belarusian_lacinka_1k",
                    "tatar",
                    "tatar_1k",
                    "tatar_5k",
                    "tatar_9k",
                    "tatar_crimean",
                    "tatar_crimean_1k",
                    "tatar_crimean_5k",
                    "tatar_crimean_10k",
                    "tatar_crimean_15k",
                    "tatar_crimean_cyrillic",
                    "tatar_crimean_cyrillic_1k",
                    "tatar_crimean_cyrillic_5k",
                    "tatar_crimean_cyrillic_10k",
                    "tatar_crimean_cyrillic_15k",
                    "uzbek",
                    "uzbek_1k",
                    "uzbek_70k",
                    "malayalam",
                    "amharic",
                    "amharic_1k",
                    "amharic_5k",
                    "oromo",
                    "oromo_1k",
                    "oromo_5k",
                    "wordle",
                    "league_of_legends",
                    "wordle_1k",
                    "typing_of_the_dead",
                    "yiddish",
                    "frisian",
                    "frisian_1k",
                    "pashto",
                    "euskera",
                    "klingon",
                    "klingon_1k",
                    "quenya",
                    "occitan",
                    "occitan_1k",
                    "occitan_2k",
                    "occitan_5k",
                    "occitan_10k",
                    "bashkir",
                    "zulu",
                    "kabyle",
                    "kabyle_1k",
                    "kabyle_2k",
                    "kabyle_5k",
                    "kabyle_10k",
                    "hawaiian",
                    "hawaiian_1k",
                    "code_python",
                    "code_python_1k",
                    "code_python_2k",
                    "code_python_5k",
                    "code_fsharp",
                    "code_c",
                    "code_csharp",
                    "code_css",
                    "code_c++",
                    "code_dart",
                    "code_brainfck",
                    "code_javascript",
                    "code_javascript_1k",
                    "code_javascript_react",
                    "code_jule",
                    "code_julia",
                    "code_haskell",
                    "code_html",
                    "code_nim",
                    "code_nix",
                    "code_pascal",
                    "code_java",
                    "code_kotlin",
                    "code_go",
                    "code_rockstar",
                    "code_rust",
                    "code_ruby",
                    "code_r",
                    "code_r_2k",
                    "code_swift",
                    "code_scala",
                    "code_bash",
                    "code_powershell",
                    "code_lua",
                    "code_luau",
                    "code_latex",
                    "code_typst",
                    "code_matlab",
                    "code_sql",
                    "code_perl",
                    "code_php",
                    "code_vim",
                    "code_vimscript",
                    "code_opencl",
                    "code_visual_basic",
                    "code_arduino",
                    "code_systemverilog",
                    "code_elixir",
                    "code_gleam",
                    "code_zig",
                    "code_gdscript",
                    "code_gdscript_2",
                    "code_assembly",
                    "code_v",
                    "code_ook",
                    "code_typescript",
                    "code_ocaml",
                    "code_odin",
                    "xhosa",
                    "xhosa_3k",
                    "tibetan",
                    "tibetan_1k",
                    "code_cobol",
                    "code_clojure",
                    "code_common_lisp",
                    "code_erlang",
                    "docker_file",
                    "code_fortran",
                    "viossa",
                    "viossa_njutro",
                    "code_abap",
                    "code_abap_1k",
                    "code_yoptascript",
                    "code_cuda",
                    "kinyarwanda",
                    "pokemon_1k",
                    "kokanu",
                    "likanu",
                    "code_vhdl",
                    "lao",
                    "code_6502_assembly",
                    "english_legal"
                  ]
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          }
        ],
        "operationId": "public.getSpeedHistogram",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "470": {
            "description": "Invalid ApeKey",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Invalid ApeKey"
                }
              }
            }
          },
          "471": {
            "description": "ApeKey is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is inactive"
                }
              }
            }
          },
          "472": {
            "description": "ApeKey is malformed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is malformed"
                }
              }
            }
          },
          "479": {
            "description": "ApeKey rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/public/typingStats": {
      "get": {
        "description": "get number of tests and time users spend typing.\n\n**Rate limit:** This operation can be called up to 60 times per minute for regular users.\n\n",
        "summary": "get typing stats",
        "tags": [
          "public"
        ],
        "parameters": [],
        "operationId": "public.getTypingStats",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timeTyping": {
                          "type": "number",
                          "minimum": 0
                        },
                        "testsCompleted": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "testsStarted": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "timeTyping",
                        "testsCompleted",
                        "testsStarted"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "470": {
            "description": "Invalid ApeKey",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Invalid ApeKey"
                }
              }
            }
          },
          "471": {
            "description": "ApeKey is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is inactive"
                }
              }
            }
          },
          "472": {
            "description": "ApeKey is malformed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is malformed"
                }
              }
            }
          },
          "479": {
            "description": "ApeKey rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/leaderboards": {
      "get": {
        "description": "Get all-time leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n",
        "summary": "get leaderboard",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "english",
                    "english_1k",
                    "english_5k",
                    "english_10k",
                    "english_25k",
                    "english_450k",
                    "english_commonly_misspelled",
                    "english_contractions",
                    "english_doubleletter",
                    "english_shakespearean",
                    "english_old",
                    "english_medical",
                    "spanish",
                    "spanish_1k",
                    "spanish_10k",
                    "spanish_650k",
                    "french",
                    "french_1k",
                    "french_2k",
                    "french_10k",
                    "french_600k",
                    "french_bitoduc",
                    "nepali",
                    "nepali_1k",
                    "nepali_romanized",
                    "sanskrit",
                    "sanskrit_roman",
                    "santali",
                    "azerbaijani",
                    "azerbaijani_1k",
                    "arabic",
                    "arabic_10k",
                    "arabic_egypt",
                    "arabic_egypt_1k",
                    "arabic_morocco",
                    "malagasy",
                    "malagasy_1k",
                    "malay",
                    "malay_1k",
                    "mongolian",
                    "mongolian_10k",
                    "kannada",
                    "korean",
                    "korean_1k",
                    "korean_5k",
                    "khmer",
                    "chinese_simplified",
                    "chinese_simplified_1k",
                    "chinese_simplified_5k",
                    "chinese_simplified_10k",
                    "chinese_simplified_50k",
                    "chinese_traditional",
                    "chinese_traditional_1k",
                    "chinese_traditional_5k",
                    "chinese_traditional_10k",
                    "chinese_traditional_50k",
                    "russian",
                    "russian_1k",
                    "russian_5k",
                    "russian_10k",
                    "russian_25k",
                    "russian_50k",
                    "russian_375k",
                    "russian_contractions",
                    "russian_contractions_1k",
                    "russian_abbreviations",
                    "ukrainian",
                    "ukrainian_1k",
                    "ukrainian_10k",
                    "ukrainian_50k",
                    "ukrainian_endings",
                    "ukrainian_latynka",
                    "ukrainian_latynka_1k",
                    "ukrainian_latynka_10k",
                    "ukrainian_latynka_50k",
                    "ukrainian_latynka_endings",
                    "portuguese",
                    "portuguese_acentos_e_cedilha",
                    "portuguese_1k",
                    "portuguese_3k",
                    "portuguese_5k",
                    "portuguese_320k",
                    "portuguese_550k",
                    "indonesian",
                    "indonesian_1k",
                    "indonesian_10k",
                    "kurdish_central",
                    "kurdish_central_2k",
                    "kurdish_central_4k",
                    "german",
                    "german_1k",
                    "german_10k",
                    "german_250k",
                    "swiss_german",
                    "swiss_german_1k",
                    "swiss_german_2k",
                    "afrikaans",
                    "afrikaans_1k",
                    "afrikaans_10k",
                    "georgian",
                    "tamil",
                    "tamil_1k",
                    "tanglish",
                    "tamil_old",
                    "telugu",
                    "telugu_1k",
                    "greek",
                    "greek_1k",
                    "greek_5k",
                    "greek_10k",
                    "greek_25k",
                    "greek_koine",
                    "greeklish",
                    "greeklish_1k",
                    "greeklish_5k",
                    "greeklish_10k",
                    "greeklish_25k",
                    "turkish",
                    "turkish_1k",
                    "turkish_5k",
                    "irish",
                    "irish_1k",
                    "italian",
                    "italian_1k",
                    "italian_7k",
                    "italian_60k",
                    "italian_280k",
                    "friulian",
                    "latin",
                    "galician",
                    "thai",
                    "thai_1k",
                    "thai_5k",
                    "thai_10k",
                    "thai_20k",
                    "thai_50k",
                    "thai_60k",
                    "polish",
                    "polish_2k",
                    "polish_5k",
                    "polish_10k",
                    "polish_20k",
                    "polish_40k",
                    "polish_200k",
                    "czech",
                    "czech_1k",
                    "czech_10k",
                    "slovak",
                    "slovak_1k",
                    "slovak_10k",
                    "slovenian",
                    "slovenian_1k",
                    "slovenian_5k",
                    "croatian",
                    "croatian_1k",
                    "dutch",
                    "dutch_1k",
                    "dutch_10k",
                    "filipino",
                    "filipino_1k",
                    "danish",
                    "danish_1k",
                    "danish_10k",
                    "hungarian",
                    "hungarian_1k",
                    "hungarian_2k",
                    "norwegian_bokmal",
                    "norwegian_bokmal_1k",
                    "norwegian_bokmal_5k",
                    "norwegian_bokmal_10k",
                    "norwegian_bokmal_150k",
                    "norwegian_bokmal_600k",
                    "norwegian_nynorsk",
                    "norwegian_nynorsk_1k",
                    "norwegian_nynorsk_5k",
                    "norwegian_nynorsk_10k",
                    "norwegian_nynorsk_100k",
                    "norwegian_nynorsk_400k",
                    "hebrew",
                    "hebrew_1k",
                    "hebrew_5k",
                    "hebrew_10k",
                    "icelandic",
                    "icelandic_1k",
                    "romanian",
                    "romanian_1k",
                    "romanian_5k",
                    "romanian_10k",
                    "romanian_25k",
                    "romanian_50k",
                    "romanian_100k",
                    "romanian_200k",
                    "lorem_ipsum",
                    "finnish",
                    "finnish_1k",
                    "finnish_10k",
                    "estonian",
                    "estonian_1k",
                    "estonian_5k",
                    "estonian_10k",
                    "udmurt",
                    "welsh",
                    "welsh_1k",
                    "persian",
                    "persian_1k",
                    "persian_5k",
                    "persian_20k",
                    "persian_romanized",
                    "marathi",
                    "kazakh",
                    "kazakh_1k",
                    "vietnamese",
                    "vietnamese_1k",
                    "vietnamese_5k",
                    "jyutping",
                    "pinyin",
                    "pinyin_1k",
                    "pinyin_10k",
                    "hausa",
                    "hausa_1k",
                    "bemba",
                    "bemba_1k",
                    "bemba_10k",
                    "swedish",
                    "swedish_1k",
                    "swedish_diacritics",
                    "serbian_latin",
                    "serbian_latin_10k",
                    "serbian",
                    "serbian_10k",
                    "yoruba_1k",
                    "swahili_1k",
                    "maori_1k",
                    "catalan",
                    "catalan_1k",
                    "lojban_gismu",
                    "lojban_cmavo",
                    "lithuanian",
                    "lithuanian_1k",
                    "lithuanian_3k",
                    "bulgarian",
                    "bulgarian_1k",
                    "bulgarian_latin",
                    "bulgarian_latin_1k",
                    "bangla",
                    "bangla_letters",
                    "bangla_10k",
                    "bosnian",
                    "bosnian_4k",
                    "toki_pona",
                    "toki_pona_ku_suli",
                    "toki_pona_ku_lili",
                    "esperanto",
                    "esperanto_1k",
                    "esperanto_10k",
                    "esperanto_25k",
                    "esperanto_36k",
                    "esperanto_x_sistemo",
                    "esperanto_x_sistemo_1k",
                    "esperanto_x_sistemo_10k",
                    "esperanto_x_sistemo_25k",
                    "esperanto_x_sistemo_36k",
                    "esperanto_h_sistemo",
                    "esperanto_h_sistemo_1k",
                    "esperanto_h_sistemo_10k",
                    "esperanto_h_sistemo_25k",
                    "esperanto_h_sistemo_36k",
                    "kyrgyz",
                    "kyrgyz_1k",
                    "urdu",
                    "urdu_1k",
                    "urdu_5k",
                    "urdu_roman",
                    "urdish",
                    "albanian",
                    "albanian_1k",
                    "shona",
                    "shona_1k",
                    "armenian",
                    "armenian_1k",
                    "armenian_western",
                    "armenian_western_1k",
                    "myanmar_burmese",
                    "japanese_hiragana",
                    "japanese_katakana",
                    "japanese_romaji",
                    "japanese_romaji_1k",
                    "sinhala",
                    "latvian",
                    "latvian_1k",
                    "maltese",
                    "maltese_1k",
                    "twitch_emotes",
                    "git",
                    "pig_latin",
                    "hindi",
                    "hindi_1k",
                    "hinglish",
                    "gujarati",
                    "gujarati_1k",
                    "macedonian",
                    "macedonian_1k",
                    "macedonian_10k",
                    "macedonian_75k",
                    "belarusian",
                    "belarusian_1k",
                    "belarusian_5k",
                    "belarusian_10k",
                    "belarusian_25k",
                    "belarusian_50k",
                    "belarusian_100k",
                    "belarusian_lacinka",
                    "belarusian_lacinka_1k",
                    "tatar",
                    "tatar_1k",
                    "tatar_5k",
                    "tatar_9k",
                    "tatar_crimean",
                    "tatar_crimean_1k",
                    "tatar_crimean_5k",
                    "tatar_crimean_10k",
                    "tatar_crimean_15k",
                    "tatar_crimean_cyrillic",
                    "tatar_crimean_cyrillic_1k",
                    "tatar_crimean_cyrillic_5k",
                    "tatar_crimean_cyrillic_10k",
                    "tatar_crimean_cyrillic_15k",
                    "uzbek",
                    "uzbek_1k",
                    "uzbek_70k",
                    "malayalam",
                    "amharic",
                    "amharic_1k",
                    "amharic_5k",
                    "oromo",
                    "oromo_1k",
                    "oromo_5k",
                    "wordle",
                    "league_of_legends",
                    "wordle_1k",
                    "typing_of_the_dead",
                    "yiddish",
                    "frisian",
                    "frisian_1k",
                    "pashto",
                    "euskera",
                    "klingon",
                    "klingon_1k",
                    "quenya",
                    "occitan",
                    "occitan_1k",
                    "occitan_2k",
                    "occitan_5k",
                    "occitan_10k",
                    "bashkir",
                    "zulu",
                    "kabyle",
                    "kabyle_1k",
                    "kabyle_2k",
                    "kabyle_5k",
                    "kabyle_10k",
                    "hawaiian",
                    "hawaiian_1k",
                    "code_python",
                    "code_python_1k",
                    "code_python_2k",
                    "code_python_5k",
                    "code_fsharp",
                    "code_c",
                    "code_csharp",
                    "code_css",
                    "code_c++",
                    "code_dart",
                    "code_brainfck",
                    "code_javascript",
                    "code_javascript_1k",
                    "code_javascript_react",
                    "code_jule",
                    "code_julia",
                    "code_haskell",
                    "code_html",
                    "code_nim",
                    "code_nix",
                    "code_pascal",
                    "code_java",
                    "code_kotlin",
                    "code_go",
                    "code_rockstar",
                    "code_rust",
                    "code_ruby",
                    "code_r",
                    "code_r_2k",
                    "code_swift",
                    "code_scala",
                    "code_bash",
                    "code_powershell",
                    "code_lua",
                    "code_luau",
                    "code_latex",
                    "code_typst",
                    "code_matlab",
                    "code_sql",
                    "code_perl",
                    "code_php",
                    "code_vim",
                    "code_vimscript",
                    "code_opencl",
                    "code_visual_basic",
                    "code_arduino",
                    "code_systemverilog",
                    "code_elixir",
                    "code_gleam",
                    "code_zig",
                    "code_gdscript",
                    "code_gdscript_2",
                    "code_assembly",
                    "code_v",
                    "code_ook",
                    "code_typescript",
                    "code_ocaml",
                    "code_odin",
                    "xhosa",
                    "xhosa_3k",
                    "tibetan",
                    "tibetan_1k",
                    "code_cobol",
                    "code_clojure",
                    "code_common_lisp",
                    "code_erlang",
                    "docker_file",
                    "code_fortran",
                    "viossa",
                    "viossa_njutro",
                    "code_abap",
                    "code_abap_1k",
                    "code_yoptascript",
                    "code_cuda",
                    "kinyarwanda",
                    "pokemon_1k",
                    "kokanu",
                    "likanu",
                    "code_vhdl",
                    "lao",
                    "code_6502_assembly",
                    "english_legal"
                  ]
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 0,
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "default": 50,
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 200,
                  "exclusiveMinimum": 0
                }
              }
            }
          },
          {
            "name": "friendsOnly",
            "in": "query",
            "description": "include only users from your friends list, defaults to false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.get",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "pageSize": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": 0
                        },
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "wpm": {
                                "type": "number",
                                "minimum": 0
                              },
                              "acc": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100
                              },
                              "timestamp": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "raw": {
                                "type": "number",
                                "minimum": 0
                              },
                              "consistency": {
                                "type": "number",
                                "minimum": 0
                              },
                              "uid": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "discordId": {
                                "type": "string"
                              },
                              "discordAvatar": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "friendsRank": {
                                "type": "integer",
                                "minimum": 0,
                                "description": "only available on friendsOnly leaderboard"
                              },
                              "badgeId": {
                                "type": "integer"
                              },
                              "isPremium": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "wpm",
                              "acc",
                              "timestamp",
                              "raw",
                              "uid",
                              "name",
                              "rank"
                            ]
                          }
                        }
                      },
                      "required": [
                        "count",
                        "pageSize",
                        "entries"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
              }
            }
          },
          "400": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Generic client error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required but not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Authentication required but not provided or invalid"
                }
              }
            }
          },
          "403": {
            "description": "Operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Operation not permitted"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validationErrors"
                  ],
                  "description": "Request validation failed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Rate limit exceeded"
                }
              }
            }
          },
          "470": {
            "description": "Invalid ApeKey",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "Invalid ApeKey"
                }
              }
            }
          },
          "471": {
            "description": "ApeKey is inactive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is inactive"
                }
              }
            }
          },
          "472": {
            "description": "ApeKey is malformed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey is malformed"
                }
              }
            }
          },
          "479": {
            "description": "ApeKey rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "ApeKey rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Generic server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Generic server error"
                }
              }
            }
          },
          "503": {
            "description": "Endpoint disabled or server is under maintenance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errorId": {
                      "type": "string"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "errorId"
                  ],
                  "description": "Endpoint disabled or server is under maintenance"
                }
              }
            }
          }
        },
        "x-public": "yes",
        "security": []
      }
    },
    "/leaderboards/rank": {
      "get": {
        "description": "Get the rank of the current user on the all-time leaderboard.\n\n**Rate limit:** This operation can be called up to 500 times per hour for regular users.\n\n",
        "summary": "get leaderboard rank",
        "tags": [
          "leaderboards"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "english",
                    "english_1k",
                    "english_5k",
                    "english_10k",
                    "english_25k",
                    "english_450k",
                    "english_commonly_misspelled",
                    "english_contractions",
                    "english_doubleletter",
                    "english_shakespearean",
                    "english_old",
                    "english_medical",
                    "spanish",
                    "spanish_1k",
                    "spanish_10k",
                    "spanish_650k",
                    "french",
                    "french_1k",
                    "french_2k",
                    "french_10k",
                    "french_600k",
                    "french_bitoduc",
                    "nepali",
                    "nepali_1k",
                    "nepali_romanized",
                    "sanskrit",
                    "sanskrit_roman",
                    "santali",
                    "azerbaijani",
                    "azerbaijani_1k",
                    "arabic",
                    "arabic_10k",
                    "arabic_egypt",
                    "arabic_egypt_1k",
                    "arabic_morocco",
                    "malagasy",
                    "malagasy_1k",
                    "malay",
                    "malay_1k",
                    "mongolian",
                    "mongolian_10k",
                    "kannada",
                    "korean",
                    "korean_1k",
                    "korean_5k",
                    "khmer",
                    "chinese_simplified",
                    "chinese_simplified_1k",
                    "chinese_simplified_5k",
                    "chinese_simplified_10k",
                    "chinese_simplified_50k",
                    "chinese_traditional",
                    "chinese_traditional_1k",
                    "chinese_traditional_5k",
                    "chinese_traditional_10k",
                    "chinese_traditional_50k",
                    "russian",
                    "russian_1k",
                    "russian_5k",
                    "russian_10k",
                    "russian_25k",
                    "russian_50k",
                    "russian_375k",
                    "russian_contractions",
                    "russian_contractions_1k",
                    "russian_abbreviations",
                    "ukrainian",
                    "ukrainian_1k",
                    "ukrainian_10k",
                    "ukrainian_50k",
                    "ukrainian_endings",
                    "ukrainian_latynka",
                    "ukrainian_latynka_1k",
                    "ukrainian_latynka_10k",
                    "ukrainian_latynka_50k",
                    "ukrainian_latynka_endings",
                    "portuguese",
                    "portuguese_acentos_e_cedilha",
                    "portuguese_1k",
                    "portuguese_3k",
                    "portuguese_5k",
                    "portuguese_320k",
                    "portuguese_550k",
                    "indonesian",
                    "indonesian_1k",
                    "indonesian_10k",
                    "kurdish_central",
                    "kurdish_central_2k",
                    "kurdish_central_4k",
                    "german",
                    "german_1k",
                    "german_10k",
                    "german_250k",
                    "swiss_german",
                    "swiss_german_1k",
                    "swiss_german_2k",
                    "afrikaans",
                    "afrikaans_1k",
                    "afrikaans_10k",
                    "georgian",
                    "tamil",
                    "tamil_1k",
                    "tanglish",
                    "tamil_old",
                    "telugu",
                    "telugu_1k",
                    "greek",
                    "greek_1k",
                    "greek_5k",
                    "greek_10k",
                    "greek_25k",
                    "greek_koine",
                    "greeklish",
                    "greeklish_1k",
                    "greeklish_5k",
                    "greeklish_10k",
                    "greeklish_25k",
                    "turkish",
                    "turkish_1k",
                    "turkish_5k",
                    "irish",
                    "irish_1k",
                    "italian",
                    "italian_1k",
                    "italian_7k",
                    "italian_60k",
                    "italian_280k",
                    "friulian",
                    "latin",
                    "galician",
                    "thai",
                    "thai_1k",
                    "thai_5k",
                    "thai_10k",
                    "thai_20k",
                    "thai_50k",
                    "thai_60k",
                    "polish",
                    "polish_2k",
                    "polish_5k",
                    "polish_10k",
                    "polish_20k",
                    "polish_40k",
                    "polish_200k",
                    "czech",
                    "czech_1k",
                    "czech_10k",
                    "slovak",
                    "slovak_1k",
                    "slovak_10k",
                    "slovenian",
                    "slovenian_1k",
                    "slovenian_5k",
                    "croatian",
                    "croatian_1k",
                    "dutch",
                    "dutch_1k",
                    "dutch_10k",
                    "filipino",
                    "filipino_1k",
                    "danish",
                    "danish_1k",
                    "danish_10k",
                    "hungarian",
                    "hungarian_1k",
                    "hungarian_2k",
                    "norwegian_bokmal",
                    "norwegian_bokmal_1k",
                    "norwegian_bokmal_5k",
                    "norwegian_bokmal_10k",
                    "norwegian_bokmal_150k",
                    "norwegian_bokmal_600k",
                    "norwegian_nynorsk",
                    "norwegian_nynorsk_1k",
                    "norwegian_nynorsk_5k",
                    "norwegian_nynorsk_10k",
                    "norwegian_nynorsk_100k",
                    "norwegian_nynorsk_400k",
                    "hebrew",
                    "hebrew_1k",
                    "hebrew_5k",
                    "hebrew_10k",
                    "icelandic",
                    "icelandic_1k",
                    "romanian",
                    "romanian_1k",
                    "romanian_5k",
                    "romanian_10k",
                    "romanian_25k",
                    "romanian_50k",
                    "romanian_100k",
                    "romanian_200k",
                    "lorem_ipsum",
                    "finnish",
                    "finnish_1k",
                    "finnish_10k",
                    "estonian",
                    "estonian_1k",
                    "estonian_5k",
                    "estonian_10k",
                    "udmurt",
                    "welsh",
                    "welsh_1k",
                    "persian",
                    "persian_1k",
                    "persian_5k",
                    "persian_20k",
                    "persian_romanized",
                    "marathi",
                    "kazakh",
                    "kazakh_1k",
                    "vietnamese",
                    "vietnamese_1k",
                    "vietnamese_5k",
                    "jyutping",
                    "pinyin",
                    "pinyin_1k",
                    "pinyin_10k",
                    "hausa",
                    "hausa_1k",
                    "bemba",
                    "bemba_1k",
                    "bemba_10k",
                    "swedish",
                    "swedish_1k",
                    "swedish_diacritics",
                    "serbian_latin",
                    "serbian_latin_10k",
                    "serbian",
                    "serbian_10k",
                    "yoruba_1k",
                    "swahili_1k",
                    "maori_1k",
                    "catalan",
                    "catalan_1k",
                    "lojban_gismu",
                    "lojban_cmavo",
                    "lithuanian",
                    "lithuanian_1k",
                    "lithuanian_3k",
                    "bulgarian",
                    "bulgarian_1k",
                    "bulgarian_latin",
                    "bulgarian_latin_1k",
                    "bangla",
                    "bangla_letters",
                    "bangla_10k",
                    "bosnian",
                    "bosnian_4k",
                    "toki_pona",
                    "toki_pona_ku_suli",
                    "toki_pona_ku_lili",
                    "esperanto",
                    "esperanto_1k",
                    "esperanto_10k",
                    "esperanto_25k",
                    "esperanto_36k",
                    "esperanto_x_sistemo",
                    "esperanto_x_sistemo_1k",
                    "esperanto_x_sistemo_10k",
                    "esperanto_x_sistemo_25k",
                    "esperanto_x_sistemo_36k",
                    "esperanto_h_sistemo",
                    "esperanto_h_sistemo_1k",
                    "esperanto_h_sistemo_10k",
                    "esperanto_h_sistemo_25k",
                    "esperanto_h_sistemo_36k",
                    "kyrgyz",
                    "kyrgyz_1k",
                    "urdu",
                    "urdu_1k",
                    "urdu_5k",
                    "urdu_roman",
                    "urdish",
                    "albanian",
                    "albanian_1k",
                    "shona",
                    "shona_1k",
                    "armenian",
                    "armenian_1k",
                    "armenian_western",
                    "armenian_western_1k",
                    "myanmar_burmese",
                    "japanese_hiragana",
                    "japanese_katakana",
                    "japanese_romaji",
                    "japanese_romaji_1k",
                    "sinhala",
                    "latvian",
                    "latvian_1k",
                    "maltese",
                    "maltese_1k",
                    "twitch_emotes",
                    "git",
                    "pig_latin",
                    "hindi",
                    "hindi_1k",
                    "hinglish",
                    "gujarati",
                    "gujarati_1k",
                    "macedonian",
                    "macedonian_1k",
                    "macedonian_10k",
                    "macedonian_75k",
                    "belarusian",
                    "belarusian_1k",
                    "belarusian_5k",
                    "belarusian_10k",
                    "belarusian_25k",
                    "belarusian_50k",
                    "belarusian_100k",
                    "belarusian_lacinka",
                    "belarusian_lacinka_1k",
                    "tatar",
                    "tatar_1k",
                    "tatar_5k",
                    "tatar_9k",
                    "tatar_crimean",
                    "tatar_crimean_1k",
                    "tatar_crimean_5k",
                    "tatar_crimean_10k",
                    "tatar_crimean_15k",
                    "tatar_crimean_cyrillic",
                    "tatar_crimean_cyrillic_1k",
                    "tatar_crimean_cyrillic_5k",
                    "tatar_crimean_cyrillic_10k",
                    "tatar_crimean_cyrillic_15k",
                    "uzbek",
                    "uzbek_1k",
                    "uzbek_70k",
                    "malayalam",
                    "amharic",
                    "amharic_1k",
                    "amharic_5k",
                    "oromo",
                    "oromo_1k",
                    "oromo_5k",
                    "wordle",
                    "league_of_legends",
                    "wordle_1k",
                    "typing_of_the_dead",
                    "yiddish",
                    "frisian",
                    "frisian_1k",
                    "pashto",
                    "euskera",
                    "klingon",
                    "klingon_1k",
                    "quenya",
                    "occitan",
                    "occitan_1k",
                    "occitan_2k",
                    "occitan_5k",
                    "occitan_10k",
                    "bashkir",
                    "zulu",
                    "kabyle",
                    "kabyle_1k",
                    "kabyle_2k",
                    "kabyle_5k",
                    "kabyle_10k",
                    "hawaiian",
                    "hawaiian_1k",
                    "code_python",
                    "code_python_1k",
                    "code_python_2k",
                    "code_python_5k",
                    "code_fsharp",
                    "code_c",
                    "code_csharp",
                    "code_css",
                    "code_c++",
                    "code_dart",
                    "code_brainfck",
                    "code_javascript",
                    "code_javascript_1k",
                    "code_javascript_react",
                    "code_jule",
                    "code_julia",
                    "code_haskell",
                    "code_html",
                    "code_nim",
                    "code_nix",
                    "code_pascal",
                    "code_java",
                    "code_kotlin",
                    "code_go",
                    "code_rockstar",
                    "code_rust",
                    "code_ruby",
                    "code_r",
                    "code_r_2k",
                    "code_swift",
                    "code_scala",
                    "code_bash",
                    "code_powershell",
                    "code_lua",
                    "code_luau",
                    "code_latex",
                    "code_typst",
                    "code_matlab",
                    "code_sql",
                    "code_perl",
                    "code_php",
                    "code_vim",
                    "code_vimscript",
                    "code_opencl",
                    "code_visual_basic",
                    "code_arduino",
                    "code_systemverilog",
                    "code_elixir",
                    "code_gleam",
                    "code_zig",
                    "code_gdscript",
                    "code_gdscript_2",
                    "code_assembly",
                    "code_v",
                    "code_ook",
                    "code_typescript",
                    "code_ocaml",
                    "code_odin",
                    "xhosa",
                    "xhosa_3k",
                    "tibetan",
                    "tibetan_1k",
                    "code_cobol",
                    "code_clojure",
                    "code_common_lisp",
                    "code_erlang",
                    "docker_file",
                    "code_fortran",
                    "viossa",
                    "viossa_njutro",
                    "code_abap",
                    "code_abap_1k",
                    "code_yoptascript",
                    "code_cuda",
                    "kinyarwanda",
                    "pokemon_1k",
                    "kokanu",
                    "likanu",
                    "code_vhdl",
                    "lao",
                    "code_6502_assembly",
                    "english_legal"
                  ]
                }
              }
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "time",
                    "words",
                    "quote",
                    "custom",
                    "zen"
                  ]
                }
              }
            }
          },
          {
            "name": "mode2",
            "in": "query",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "oneOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "zen"
                      ]
                    },
                    {
                      "type": "string",
                      "enum": [
                        "custom"
                      ]
                    }
                  ]
                }
              }
            }
          },
          {
            "name": "friendsOnly",
            "in": "query",
            "description": "include only users from your friends list, defaults to false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "operationId": "leaderboards.getRank",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wpm": {
                          "type": "number",
                          "minimum": 0
                        },
                        "acc": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "timestamp": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "raw": {
                          "type": "number",
                          "minimum": 0
                        },
                        "consistency": {
                          "type": "number",
                          "minimum": 0
                        },
                        "uid": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "discordId": {
                          "type": "string"
                        },
                        "discordAvatar": {
                          "type": "string"
                        },
                        "rank": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "friendsRank": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "only available on friendsOnly leaderboard"
                        },
                        "badgeId": {
                          "type": "integer"
                        },
                        "isPremium": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "wpm",
                        "acc",
                        "timestamp",
                        "raw",
                        "uid",
                        "name",
                        "rank"
                      ],
                      "nullable": true
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of allowed requests in the current period"
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of remaining requests in the current period"
              },
              "x-ratelimit-reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "The timestamp of the start of the next period"
[...]
